<div class="jumbotron mt-5">
  <h1 class="display-4">Notes App With Nodejs And Mongodb!</h1>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express, Mongodb and Javascript Technologies</p>
  <hr class="my-4">
  <p></p>
  <a class="btn btn-primary btn-lg font-weight-bold" href="https://nodejs.org/en/" role="button">LEARN NODEJS</a>
</div>