{{#if error }}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <div id="err">{{ error }}</div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

{{#each errors}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div id="err">{{ text }}</div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/each}}
<style>#err{font-weight: bold; text-align: center}</style>